.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.header {
	background-color: green;
	width: 100%;
	height: 60px
}

.content {
	background-color: gray;
	height: 8000px;
	width: 100%;
}

.sidebar {
	background-color: yellow;
	display: none;
}

.footer {
	background-color: pink;
	display: none;
}

@media screen and (min-width: 600px) {
	.header {
		background-color: red;
		width: 100%;
		position: fixed;
		top: 0;
	}

	.content {
		background-color: gray;
		height: 8000px;
		width: 100%;
		margin-top: 50px;
	}

	.sidebar {
		background-color: yellow;
		display: none;
	}

	.footer {
		background-color: pink;
		display: block;
		width: 100%;
		height: 60px;
		position: fixed;
		bottom: 0;
	}

} 

@media screen and (min-width: 1024px) {
	.container {
		position: relative;
	}

	.header {
		background-color: blue;
		width: 100%;
		position: fixed;
		top: 0;
	}
	.content {
		background-color: gray;
		height: 8000px;
		flex: 2;
	}

	.sidebar {
		background-color: yellow;
		position: absolute;
		top: 0px;
		right: 0px;
		flex: 1;
		display: block;
		height: 0;
		width: 10%;
		margin-top: 10%;
		padding-bottom:56.25%
	}

	.footer {
		background-color: pink;
		display: block;
		width: 100%;
		height: 60px;
		position: fixed;
		bottom: 0;
	}
} 

